/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.starter-template {
	padding: 40px 15px;
	text-align: center;
	width: 1280px;
	height: 720px;
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-position: bottom center;
	background-attachment: fixed;
	background-size: cover;
}	