<div class="starter-template">
<p id="notice"><%= notice %></p>

<br><br><br><center><h1>Página Para Usuários</h1></br>

<br><br><br><p  class="to-animate-2"><a href="http://gspawn.com/" class="btn btn-primary btn-lg">Loja! </a>

<p class="to-animate-2"><a href= "/pokemon_trainers/new" class="btn btn-primary btn-lg">Criar Treinador</a></p>


<p class="to-animate-2"><a href="http://kids.barbie.com/pt-br" class="btn btn-primary btn-lg">Jogar no Fácil</a></p>

<p  class="to-animate-2"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg">Cheats! </a></p></p></center>
</div>
