      <div class="starter-template">
        <h1>O que é Pokémon Gama Version?</h1>
        <p class="lead">Os jogos de Pokémon são bem familiares ao grande público há décadas. Inúmeras pessoas, jovens ou adultos, já jogaram, ou ao menos ouviram falar, de jogos como Pokémon Yellow, ou Pokémon Ruby. Pokémon Gama não foge ao tema dos antigos jogos. Entretanto, este revolucionário jogo oferece ao jogador uma experiência completamente nova, onde "imersão" é levada a níveis nunca antes pensados. Pokémon Gama Version será o primeiro da franquia em Realidade Virtual! Nele o jogador se sentirá como um verdadeiro Treinador Pokémon, interagindo com cenários e personagens que o farão pensar que estão no mundo real, e não em um jogo. Pokémon Gama Version oferecerá um enorme ambiente Online, onde pessoas de diferentes lugares do mundo poderão interagir, trocar pokémons e batalhar. Pokémon Gama Version será um jogo revolucionário e divertirá milhares de pessoas ao redor do globo.</p>
        <p class="to-animate-2"><a href="/" class="btn btn-primary btn-lg">Página Inicial</a></p>
        <p class ="lead"><br/><br/><br/><br/>(Data de Lançamento ainda não divulgada)</p>
      </div>
</html>