<div class="starter-template">
<p id="notice"><%= notice %></p>

<center><h1>Lista de Usuários</h1>
<br><br><br>
<table border="3">
  <thead>
    <tr>
      <th>Email</th>
      <%if current_user.admin?%>
      <th>Categoria</th>
      <%end%>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <%if current_user.admin?%>
        <td><%=  user.role %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div></center>
