<div class="starter-template">
<%= form_for(@pokemon_trainer) do |f| %>
  <% if @pokemon_trainer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pokemon_trainer.errors.count, "error") %> prohibited this pokemon_trainer from being saved:</h2>

      <ul>
      <% @pokemon_trainer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nome %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Idade %><br>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :Sexo %><br>
    <%= select("pokemon_trainer","sex", ['Feminino', 'Masculino'],{include_blank: "Selecione"}) %>
  </div>
  <div class="field">
    <%= f.label :Cidade %><br>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :Pokemon_Inicial %><br>
    <%= select("pokemon_trainer","pokemon_inicial", ['Charmander', 'Bulbasaur', 'Squirtle'],{include_blank: "Selecione"})%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
