<div class="starter-template">
<p id="notice"><%= notice %></p>
<br><br><br><br><br><center><h1>Editando Treinador Pokémon</h1>

<%= render 'form' %>

<%= link_to 'Detalhes', @pokemon_trainer %> |
<%= link_to 'Voltar', :back %>
</center>
</div>