<div class="starter-template">
<br><br><center><p id="notice"><%= notice %></p>

<h1>Treinadores Pokémon</h1><br>
<br>
<table border =3 cellspacing =1 cellpadding ="4">
  <thead>
    <tr>
      <th><center> Nome</center></th>
      <th width="50"><center>Idade</center></th>
      <th width="80"><center>Sexo</center></th>
      <th><center>Cidade</center></th>
      <th width="80"><center>Pokémon Inicial</center></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokemon_trainers.each do |pokemon_trainer| %>
      <tr>
        <td><center><%= pokemon_trainer.name %></center></td>
        <td><center><%= pokemon_trainer.age %></center></td>
        <td><center><%= pokemon_trainer.sex %></center></td>
        <td><center><%= pokemon_trainer.city %></center></td>
        <td><center><%= pokemon_trainer.pokemon_inicial %></center></td>
        <%if current_user.admin?%>
        <td width="70"><center><%= link_to 'Detalhes', pokemon_trainer %></center></td>
        <td width="50"><center><%= link_to 'Editar', edit_pokemon_trainer_path(pokemon_trainer) %></center></td>
        <td width="60"><center><%= link_to 'Apagar', pokemon_trainer, method: :delete, data: { confirm: 'Confirmar ação?' } %></center></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<%= link_to 'Novo Treinador Pokémon', new_pokemon_trainer_path %>
<br><br><%= link_to 'Voltar', pagina_usuario_index_path %> </center>
</div>