<div class="starter-template">
<p id="notice"><%= notice %></p>
<br><br><br><br><br><br><br><br><br><br><br><center>
<p>
  <strong>Nome:</strong>
  <%= @pokemon_trainer.name %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @pokemon_trainer.age %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @pokemon_trainer.sex %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @pokemon_trainer.city %>
</p>

<p>
  <strong>Pokémon Inicial:</strong>
  <%= @pokemon_trainer.pokemon_inicial %>
</p>
<%= link_to 'Editar', edit_pokemon_trainer_path(@pokemon_trainer) %> |

<%= link_to 'Voltar', pokemon_trainers_path %>


</div>
