<!DOCTYPE html>
<html>
<head>
  <title>ProjetoFinal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Pokémon Gama</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li class="active"><a href="#">Home</a></li> -->

            <%if user_signed_in?%>
              <%if current_user.admin?%>
                  <li><a href=<%= control_users_index_path %>>Usuários</a></li>
              <%end%>
            <li><a href=<%= pokemon_trainers_path %>>Treinadores</a></li>
            <li><a href=<%= pagina_usuario_index_path %>>Página para Usuários</a></li>
            <li><a>Usuário: <%=current_user.email%> </a></li>   
            <li><a href= <%= edit_user_registration_path %> >Editar Cadastro</a></li>
            <li><%= link_to "Sair",destroy_user_session_path, method: :delete%></li> 
            <%else%>
            <li><a>Entre no Mundo de Pokémon Gama!</a></li>
            <li><a href= <%=new_user_session_path%> >Entrar</a></li>
            <li><a href= <%=new_user_registration_path%> >Cadastrar</a></li>
            <%end%>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">
	</header>

<%= yield %>

  <footer id="footer" role="contentinfo">
    <div class="container">
      <div class="row row-bottom-padded-sm">
        <div class="col-md-12">
          <p class="copyright text-center">&copy; 2016 Pacific <a href="index.html">Riot</a>. All Rights Reserved. <br> Free HTML5 Template by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> | Images by <a href="http://www.pokemon.com" target="_blank">Pokémon/Nintendo</a> &amp; <a href="https://www.youtube.com/user/AceStarThe3rd" target="_blank">AceStarThe3rd</a></p>
        </div>
      </div>
</body>
</html>



