<div class="starter-template">
<p id="notice"><%= notice %></p>
  <br><br><br><center><h2>Editando <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :Senha %> <i>(Deixe em branco caso não queira alterá-la)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres pelo menos</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :Confirmar_Senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :Senha_Atual %> <i>(Preciamos da senha atual para confirmar as ações)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar" %>
  </div>
<% end %>

<h3>Cancelar Minha Conta</h3>

<p>Não gostou? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Confirmar ação?" }, method: :delete %></p>

<%= link_to "Voltar", :back %></center>
</div>