<div class="starter-template">
<p id="notice"><%= notice %></p>  
<br><br><br><br><br><br><br><br><center><h2>Cadastro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Senha %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres pelo menos)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :Confirmar_Senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar" %>
  </div></center>
<% end %>
</div>